#home-screensaver {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

ul.home-list li a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%;
  box-sizing: border-box;
  height: 274.3px;
}

.home-list-img {
  display: inline-block;
  height: 140px;
  width: 140px;
}

.home-list-first-text {
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  width: 45%;
}

.home-list-divider {
  border-right: white solid 8px;
  min-height: 6vh;
  height: 115px;
}

.home-list-second-text {
  width: 27%;
  margin-right: -5%;
  padding-left: 3%;
}